# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Arquivos de ambiente (segurança)
.env
.env.local
territorios-palmas-firebase-adminsdk-fbsvc-d2ed53641e.json
gestor-s21-firebase-adminsdk-fbsvc-cbe17b4e54.json
